<section class="h-80 h-custom" style="background-color: #ffffff; min-height: 80vh;">
  <div class="container py-5 h-100">
    <i class="fa-regular fa-shield-check"></i>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2 mb-3" style="border-radius: 15px;"
          *ngFor="let x of ordersArr.userOrders let y=count">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Orders</h1>
                  </div>
                  <hr class="my-4">
                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class=" col-lg-5 col-xl-5 col-12">
                      <h5 class="text-muted">Order ID: {{x._id}}</h5>
                      <h5 class="text-muted">Date: {{x.date}}</h5>
                      <h5 class="">Status:<b> {{x.status}}</b></h5>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-around align-items-center">
                      <div class="row my_ord" *ngFor="let z of x.productsInOrder">
                        <div class="col-lg-3 col-xl-3 col-12 text-center">
                          <img [src]="z.photo" class="img-fluid rounded-3 bk_img  " alt="Cotton T-shirt">
                        </div>
                        <div class="col-lg-5 col-xl-5 col-12 text-center align-items-center mt-4">
                          <span class=""><b>{{z.title}}</b></span>
                          <h5 class="text-black mb-0">Category :{{z.category}}</h5>
                          <h6 class="text-black mb-0">Quantity :<b> {{z.quantity}}</b></h6>
                        </div>

                        <div class=" col-lg-3 col-xl-3 col-12 text-center offset-lg-1 mt-4">
                          <h6 class="mb-0"><b>EGP{{z.unitPrice}}</b></h6>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- this is the card -->

                  <hr class="">

                  <div class="pt-5">
                    <h6 class="mb-0"><a routerLink="/cart" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Back to cart</a></h6>
                  </div>
                </div>
              </div>

              <!--summary-->
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">
                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">items: {{x.productsInOrder.length}}</h5>
                  </div>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5>EGP {{x.totalPrice}}</h5>
                  </div>

                  <hr class="my-4">
                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Status</h5>
                    <h5 class="text-uppercase">{{x.status}}</h5>
                  </div>
                  <button type="button" class="btn btn-danger btn-block btn-lg" (click)="cancelOrder(x._id)"
                    data-mdb-ripple-color="dark">Cancel Order</button>

                </div>
              </div>


            </div>

          </div>
        </div>
        <!-- NO orders -->
        <div *ngIf="ordersArr.userOrders.length==0">
          <div class="card card-registration card-registration-2 mb-3" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Orders</h1>
                  </div>
                  <hr class="my-4">
                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class=" col-lg-5 col-xl-5 col-12">
                      <h6 class="mb-0"></h6>
                      <h5 class="text-muted"></h5>
                      <h5 class="text-muted"></h5>
                      <h5 class=""></h5>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-around align-items-center">
                      <div class="row my_ord">
                        <div class="col-lg-3 col-xl-3 col-12 text-center">
                        </div>
                        <div class="col-lg-5 col-xl-5 col-12 text-center align-items-center mt-4">
                          <span class=""></span>
                          <h5 class="text-black mb-0"></h5>
                          <h6 class="text-black mb-0"></h6>
                        </div>

                        <div class=" col-lg-3 col-xl-3 col-12 text-center offset-lg-1 mt-4">
                          <h6 class="mb-0"></h6>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- this is the card -->

                  <hr class="">

                  <div class="pt-5">
                    <h6 class="mb-0"><a routerLink="/cart" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Back to cart</a></h6>
                  </div>
                </div>
              </div>

              <!--summary-->
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">
                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase"></h5>
                  </div>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5>EGP 0</h5>
                  </div>

                  <hr class="my-4">
                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase"></h5>
                    <h5 class="text-uppercase"></h5>
                  </div>
                  <button type="button" class="btn btn-danger btn-block btn-lg"
                    data-mdb-ripple-color="dark">Cancel Order</button>

                </div>
              </div>


            </div>

          </div>
        </div>
        </div>
      </div>
    </div>

  </div>

</section>
