<footer class="footer">
  <div class="row pt-2  justify-content-around  text-center">

    <h4 class="col-md-4 col-12">Contact Us</h4>
    <p class="col-md-4 col-12">
      <b>Phone:</b> +1 5589 55488 55<br>
      <b>Email:</b> Kotopedia@example.com
    </p>

    <div class="col-md-4 col-12 icons">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
  </div>
  <hr class="mx-auto my-1">
  <div class="text-center last">&copy;<b>Kotopedia</b> All rights reserved </div>
</footer>
