body {
  background-color: var(--color4);
}

.bg {
  width: 100%;
  min-height: 35vh;
  background-image: url('../../../../assets/img120.jpg');
  background-size: cover;
  position: relative;
}

.bg .container {
  overflow: hidden;
}

.userImg {
  border-radius: 50%;
  position: absolute;
  width: 180px;
  height: 180px;
  left: 2rem;
  top: 8rem;
}

.changepic {
  border-radius: 50%;
  position: absolute;
  width: 200px;
  height: 200px;
  left: 2rem;
  top: 19rem;
  background-color: rgba(250, 195, 127, 0.475);
  display: none;
  z-index: 111111;
  text-align: center;
}

.changepic:hover {
  display: block;
}

.camera {
  position: absolute;
  font-size: 35px;
  left: 5.2rem;
  top: 6rem;
  color: var(--color1);
}

.changepic h6 {
  position: absolute;
  left: 1.6rem;
  top: 9rem;
  color: var(--color1);

}

.data {
  height: 338px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 7%;
  margin-bottom: 2%;
}

.con {
  background-color: var(--color4);
  width: 100%;
  padding: 0.5rem;
  padding-left: 2rem;
  border-radius: 10px;
}

label {
  color: var(--color1);
  font-size: 20px;
}

.con input,
select {

  color: var(--color1);
  background-color: var(--color4);
  width: 90%;
  outline: none;
  border: 0;

}

.txt:focus {
  border: 5px;
  border-bottom: 5px var(--color1);
}

.edit,
.done {
  color: var(--color1);

}

.done {
  display: none;
}

@media (max-width: 1200px) {
  .userImg {
    width: 150px;
    height: 150px;
    top: 10rem;
  }
}

@media (max-width: 800px) {
  .userImg {
    width: 120px;
    height: 120px;
    top: 10.5rem
  }

  .changepic {
    width: 150px;
    height: 150px;
  }

  .camera {
    left: 3.8rem;
    top: 4rem;
    font-size: 30px;

  }

  .changepic h6 {

    left: 0.5rem;
    top: 6rem;
  }
}


.bootstrapButton {
  background-color: var(--color1);
  border-color: var(--color1);
  color: var(--color4);
}

#AddModalButton {
  color: white;
}

::ng-deep .cdk-overlay-container {
  position: fixed;
  z-index: 2000;
}

.modal-content {
  background-color: var(--color4);

}

button#Mbtn {
  background-color: var(--color1);
  color: var(--color4);
}

button#Mbtn i {
  color: var(--color4);
  /* margin-left: 3px; */
}

button#Mbtn:hover {
  color: white;
}

.con label {
  display: inline;
}

.con h2 {
  color: var(--color1);
  display: inline;
  margin-left: 5px;
}
